@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "customTheme";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(97% 0.014 254.604);
  --color-base-200: oklch(93% 0.032 255.585);
  --color-base-300: oklch(88% 0.059 254.128);
  --color-base-content: oklch(21% 0.034 264.665);
  --color-primary: oklch(72% 0.219 149.579);
  --color-primary-content: oklch(12% 0.042 264.695);
  --color-secondary: oklch(84% 0.238 128.85);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(72% 0.219 149.579);
  --color-accent-content: oklch(12% 0.042 264.695);
  --color-neutral: oklch(96% 0.044 156.743);
  --color-neutral-content: oklch(20% 0.042 265.755);
  --color-info: oklch(87% 0.15 154.449);
  --color-info-content: oklch(26% 0.065 152.934);
  --color-success: oklch(52% 0.105 223.128);
  --color-success-content: oklch(95% 0.045 203.388);
  --color-warning: oklch(55% 0.195 38.402);
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

